<%= render :partial => 'layouts/person_top', :local => @person %>

<% content_for :rightbar do %>
<div class="right_bar">
  <div class="right_bar_section">
    <%= @person.photos.first ? (image_tag(@person.photos.first.public_filename(:thumb))) : '' %>
    <div class="clearfloats"></div>    
  </div><!-- right_bar_section end -->

  <div class="module_side" style="padding-top:5px;">
    <h3 class="title">Actions</h3> 
    <div class="right_bar_section">
      <!-- not ready yet
      <ul class="right_bar_list">	
	<li><img style="padding:0px 5px 0px 0px" src="/images/eye.jpg" alt="Eye" /><a href="#">Add to your watchlist</a></li>
	<li><img style="padding:0px 5px 0px 0px" src="/images/network.jpg" alt="Network" /><a href="#">Add to your network</a></li>
      </ul>
      -->
    </div><!-- right_bar_section end -->
  </div><!-- module_side end -->
</div>
<% end %>

<div class="center_column">
  <div id="stuff_section"><!-- Edit Info Section -->
    <%= render :partial => 'basic', :local => @person %>
    <%= render :partial => 'network', :local => @person %>    
    <%= render :partial => 'events', :local => @person %>    
    <%#render :partial => 'about', :local => @person %>    
  </div><!-- stuff_section end -->
</div><!-- center_column end -->
