<%= render :partial => 'layouts/person_top', :local => @person %>

<div id="gallery_container">
<div id="file_section">
  <div class="module" style="width: 651px;">
    <h3 class="title"><span class="static">Documents</span> <span class="edit_link">&nbsp;<%= link_to image_tag('earth/upload.png') + "&nbsp;Upload a File", new_person_document_path(@person) %></span></h3>
    <% if @person.documents.empty? %>
      <div class="nothing">No Files to display</div>
    <% else %>
    <ul>
      <% for doc in @person.documents %>
        <li><%= link_to h(doc.title), person_document_path(@person, doc) %> -
	  <span class="small">(<%= doc.content_type %>) last changed <%= time_ago_in_words(doc.updated_at) %> ago</span></li>
      <% end %>
    </ul>
    <% end %>
  </div> <!-- module end -->
</div> <!-- file section end -->
</div>
