<tr class="<%= cycle('odd', 'even') -%>">
  <td>
    <div class="avatarbox">
      <% if person.avatar != nil %>
        <%= image_tag(person.avatar.public_filename('medium')) %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to(person.name, person_url(person.id)) %>
  </td>
  <td>
    <%= person.job_title -%> <br />
    <%= person.company_name -%>
  </td>
  <td>
    <% if person.activities.first != nil %>
      <%=h person.activities.first.title  %> <br />
      <%=h person.activities.first.start_date.blank? ? '' : person.activities.first.start_date.to_date.to_s(:long_ordinal) %> - 
      <%=h person.activities.first.finish_date.blank? ? '' : person.activities.first.finish_date.to_date.to_s(:long_ordinal) %> <br />
      <%=h person.activities.first.city.blank? ? '' : person.activities.first.city %>, 
      <%=h person.activities.first.country.blank? ? '' : person.activities.first.country %>
    <% end %>
  </td>
  <td>
    <% person.fellowships.each do |f| %>
      <%= f.country || "?" %> - <%= f.year || "?" %> - <%= f.program.abbr %> <br />
    <% end %>
  </td>
</tr>
