<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Insaan - Family Planning and Reproductive Health Network</title>
    <%= stylesheet_link_tag 'earth/main', 'earth/layout', :cache=>true %>
    <%# javascript_include_tag :defaults, :cache=>true %>
    <%= yield :head %>
  </head>
  <body>
    <div id="header">
      <div id="headerpad">
        <div id="logo">
          <!-- add to css -->
          <%= link_to image_tag('earth/map.png', :alt => 'Insaan Home'), root_path %>
        </div>
        <div id="search">
          <div id="searchbar">
            <% form_tag ({:controller => 'people', :browse_by => 'search'}, :method => 'get') do -%>
              <%= text_field_tag 'name_query', params[:name_query], :style => 'width: 300px; border: 1px solid #bbb;' %>
              <%= submit_tag 'search (names only)' %>
            <% end -%>
          </div><!-- searchbar end -->
          <!-- flash begin -->
          <% if flash[:notice] -%>
            <p class="flash-notice"><%= flash[:notice] %></p>
          <% end -%>
          <% if flash[:error] -%>
            <p class="flash-error"><%= flash[:error] %></p>
          <% end -%>
          <!-- flash end -->
        </div><!-- search end -->

        <!-- user login menu begin -->
        <%= render :partial => 'shared/user_menu' %>
        <!-- user login menu end -->

      </div><!-- headerpad end -->
    </div><!-- header end -->

    <div id="page">
      <div id="sidecol">
	<div class="sidebar">
          <%= render :partial => 'shared/left_menu' %>
	</div> 
      </div><!-- sidecol end -->
      <div class="main">
	<div class="main_section_header">
	  <%= yield :sectionhead %>
	</div>
        <div id="main_section_pad">
	  <%= yield :tabnav %>
	  <%= yield :rightbar %>
          <%= yield %>
        </div><!-- main_section_pad end -->
      </div><!-- main end -->

      <div class="clear"></div>
      <div id="footer">
        Private Information. Do Not Distribute. <br />
        Built by <a href="http://giip.org/">GIIP Enterprises</a>
      </div><!-- footer end -->
    </div><!-- page end -->
    <%- if "production" == RAILS_ENV -%>
      <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-675861-11");
	pageTracker._trackPageview();
	} catch(err) {}
      </script>
    <%- end -%>
  </body>
</html>
